body
{
    background-color: darkslategrey;
    color: white;
}

.circleButton{
    background-color: #273738;
    color: white;
    text-align: center;
    display: inline-block;
    text-align: center;
    padding: 40px 10px;
    border-style: solid;
    border-color: rgb(32, 40, 45);
    border-radius: 100%;
}

.circleButton:hover{
    background-color: darkslategrey;
    color: rgba(255, 255, 255, 0.788);
    cursor: pointer;
}

.buttonList{
    padding-top: 50px;
    overflow: auto;
    white-space: nowrap;
    display: inline-block;
}
li{
    display: inline-block;
    padding-right: 20px;
}

.bListOverflow{
    overflow: auto;
    white-space: nowrap;
    display: inline-block;
}

