.innerHeader
{ 
    width:100%;
    height: 50px;
    background-color: #1b2e2f;
    color: white;
    display: block;
}

.buttonStyle1
{
background-color: #273738;
color: white;
text-align: center;
display: inline-block;
text-align: center;
padding: 15px 32px;
border-style: solid;
border-color: rgb(32, 40, 45);
}


*{
    margin:0;
    padding:0;
}

